# Ignore 670MB of datasets
/AI-model/datasets/testing_set
/AI-model/datasets/training_set
/AI-model/outputs/best_model_kaggle.pth
/AI-model/outputs/best_model_self.pth
/AI-model/__pycache__

# Ignore credentials