# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules
*/.pnp
*.pnp.js
*.yarn/install-state.gz

# testing
*/coverage

# next.js
*/.next/
*/out/

# production
*/build

# misc
*.DS_Store
*.pem

# debug
*npm-debug.log*
*yarn-debug.log*
*yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

*/.venv
# Ignore 670MB of datasets
/ai_model/datasets/testing_set
/ai_model/datasets/training_set
/ai_model/outputs/best_model_kaggle.pth
/ai_model/outputs/best_model_self.pth


# Ignore credentials
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignore 670MB of datasets
# /AI-model/datasets/testing_set
# /AI-model/datasets/training_set

# Ignore large saved .pth files
best_model_self.pth
best_model_kaggle.pth

# Ignore credentials

# Ignore system files
/AI-model/__pycache__
.DS_Store
*:Zone.Identifier
*/__pycache__